.App{
    background-color: #fecd1a;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.add_input{
    margin: 5px;
}
.add_button{
    margin: 5px;
}


